<app-header></app-header>

<div class="table-container">

  <h2>Overdue Books</h2>

  <table
    mat-table
    [dataSource]="(overdue$ | async) || []"
    class="mat-elevation-z8"
  >

    <!-- Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        Title
      </th>

      <td mat-cell *matCellDef="let book">
        {{ book.title }}
      </td>
    </ng-container>

    <!-- Author -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>
        Author
      </th>

      <td mat-cell *matCellDef="let book">
        {{ book.author }}
      </td>
    </ng-container>

    <!-- Return Due -->
    <ng-container matColumnDef="return_due">
      <th mat-header-cell *matHeaderCellDef>
        Due Date
      </th>

      <td mat-cell *matCellDef="let book">
        {{ book.return_due | date }}
      </td>
    </ng-container>

    <!-- Days Overdue -->
    <ng-container matColumnDef="days_overdue">
      <th mat-header-cell *matHeaderCellDef>
        Days Overdue
      </th>

      <td mat-cell *matCellDef="let book">
        {{ book.days_overdue }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>

  </table>

</div>